@page "/n/{slug}"
@model LittleFeed.Areas.Newsletter.Pages.Details

@{
    Layout = "_Layout";
    var newsletterUrl = Url.PageLink("/Details", values: new { area = "Newsletter", slug = Model.Newsletter.Slug });
}

<section class="mb-5">
    <h1>@Model.Newsletter.Name</h1>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <span class="d-flex align-items-center gap-2 text-muted">
            <span class="btn btn-light btn-sm"
                  data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Click to copy"
                  onclick="navigator.clipboard.writeText('@newsletterUrl')"
            >
                [n/@Model.Newsletter.Slug]
            </span>
            <span>Created at @Model.Newsletter.CreatedAt.ToLocalTime().ToString("dd/MM/yyyy 'at' HH:mm")</span>
        </span>
        <div>
            <button class="btn btn-light btn-sm">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-rss-fill" viewBox="0 0 16 16">
                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm1.5 2.5c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8 8 0 0 0-8-8 1 1 0 0 1 0-2m0 4a6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1 0-2m.5 7a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                </svg>
                RSS
            </button>
        </div>
    </div>
    <div>
        @Model.Newsletter.Description
    </div>
</section>


<section>
    <div class="mb-3 d-flex justify-content-end">
        <a asp-page="Article/New" class="btn btn-primary">Write new article</a>
    </div>
    <div>
        @foreach (var article in Model.Newsletter.Articles)
        {
            @(await Html.PartialAsync("Shared/_ListArticleItem", article))
        }
    </div>
</section>