<div>
    <div class="alert alert-success mb-5" role="alert">
        Account created successfully!
    </div>
    
    <div class="text-center">
        <a asp-page="@Url.Page("/")" class="btn btn-primary">Go back</a>
    </div>
</div>
