@model LittleFeed.Areas.Newsletter.Pages.NewsletterArticlePaginationDto;

@{
    var pageNumber = Model.Pagination.Page;
    var newsletterSlug = Model.NewsletterSlug;
}

@foreach (var article in Model.Pagination.Data)
{
    @(await Html.PartialAsync("Shared/_ListArticlePreviewItem", article))
}
<div class="row">
    <div class="col-12 col-md-6">
        @if (Model.Pagination.Page > 1)
        {
            <button class="btn btn-light fw-bold"
                    hx-get="?handler=Pagination&pageNumber=@(pageNumber - 1)&newsletterSlug=@newsletterSlug"
                    hx-swap="innerHTML"
                    hx-target="#article-list">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                    <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                </svg>
                Back
            </button>
        }
    </div>
    <div class="col-12 col-md-6 text-md-end">
        <button class="btn btn-light fw-bold"
                hx-get="?handler=Pagination&pageNumber=@(pageNumber + 1)&newsletterSlug=@newsletterSlug"
                hx-swap="innerHTML"
                hx-target="#article-list">
            More
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
        </button>
    </div>
</div>
