@model NewsletterSubscriptionButtonsDto;

<section class="d-flex flex-column gap-4 mb-5 pb-5" id="newsletter-subscription-buttons" hx-swap-oob="newsletter-subscription-buttons">
    <div class="ms-auto">
        <h6 class="text-muted mb-1">Subscribe:</h6>
        <div class="d-flex align-items-center gap-3">
            <a class="btn btn-light btn-sm" asp-page="/Feed" asp-route-slug="@Model.NewsletterSlug">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-rss-fill" viewBox="0 0 16 16">
                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm1.5 2.5c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8 8 0 0 0-8-8 1 1 0 0 1 0-2m0 4a6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1 0-2m.5 7a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                </svg>
                Feed
            </a>
            @if (Model.SuccessResult is not true)
            {
                <span>or</span>
                @if (User.Identity is { IsAuthenticated: true })
                {
                    @(await Html.PartialAsync("_AuthenticatedSubscribeToNewsletterButton", Model))
                }
                else
                {
                    @(await Html.PartialAsync("_GuestSubscribeToNewsletterButton", Model))
                }
            }
        </div>
    </div>

    <div id="subscribe-result">
        @switch (Model.SuccessResult)
        {
            case true:
                <div class="alert alert-success">Successfully subscribed to Newsletter!</div>
                break;
            case false:
                <div class="alert alert-danger">Error trying to subscribe to Newsletter</div>
                break;
        }
    </div>
</section>