<div class="alert alert-danger">
    You need to be authenticated to subscribe to a Newsletter.
    <a asp-area="Account" asp-page="/Register">Sign up</a>
    or
    <a asp-area="Account" asp-page="/Login">Login</a>.
</div>